<!DOCTYPE html>
<html>
  <head>
    <title>Room App</title>

  </head>
  <body class="login-bg">
  	<div class="header">
	     <div class="container">
	        <div class="row">
	           <div class="col-md-12">
	              <!-- Logo -->
	              <div class="logo">
	                 <h1><a href="/admins">Room App</a></h1>
	              </div>
	           </div>
	        </div>
	     </div>
	</div>

	<div class="page-content container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-wrapper">
			        <div class="box">
			            <div class="content-wrap">
			                <h6>Create a new Admin</h6>

                      <%= bootstrap_form_for(@admin) do |f| %>
                        <% if @admin.errors.any? %>
                            <div id="error_explanation">
                              <h6><%= pluralize(@admin.errors.count, "error") %> prohibited
                                this admin from being saved:</h6>
                              <ul>
                                <% @admin.errors.full_messages.each do |msg| %>
                                    <li><%= msg %></li>
                                <% end %>
                              </ul>
                            </div>
                        <% end %>
                        <p>
                          <%= f.text_field :name, placeholder: 'Admin Name' %>
                        </p>

                        <p>
                          <%= f.text_field :email, placeholder: 'E-mail address' %>
                        </p>

                        <p>
                          <%= f.password_field :password, placeholder: 'Password' %>
                        </p>

                        <p>
                         <%= f.submit "Submit", class: "btn btn-primary" %>
                        </p>
                      <% end %>
			            </div>
			        </div>

			    </div>
			</div>
		</div>
	</div>
  </body>
</html>