<!DOCTYPE html>
<html>
<head>
  <title>Room App</title>

</head>
<body class="login-bg">
<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Logo -->
        <div class="logo">
          <h1><a href="/admins">Room App</a></h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-content container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-wrapper">
        <div class="box">
          <div class="content-wrap">
            <h6>Create a new Member</h6>

            <%= bootstrap_form_tag url: '/admins/member/create' do |f| %>
                <% if @member.errors.any? %>
                    <div id="error_explanation">
                      <h6><%= pluralize(@member.errors.count, "error") %> prohibited
                        this member from being saved:</h6>
                      <ul>
                        <% @member.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>
                <%= f.text_field :name %>
                <%= f.email_field :email %>
                <%= f.password_field :password %>
                <%= f.submit "Create", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</body>
</html>