<!DOCTYPE html>
<html>
  <head>
    <title>Room App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  	<%= render 'navbar' %>

    <div class="page-content">
    	<div class="row">
    	 <%= render 'menu' %>
		  <div class="col-md-10">

  			<div class="content-box-large">
  				<div class="panel-heading">
					<div class="panel-title">Members</div>
				</div>
  				<div class="panel-body">
  					<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
						<thead>
							<tr>
								<th>Email</th>
    							<th>Name</th>
    							<th>Status</th>
   								<th colspan="2"></th>
							</tr>
						</thead>
						<tbody>
							<% @members.each do |member| %>
						      <tr>
						        <td><%= member.email %></td>
						        <td><%= member.name %></td>
						        <td><% if member.status == 0 %> Default <% else %> Deleted <% end %></td>
						        <td><%= link_to 'Show', "/admins/members/profile?member_id=#{member.id}" %></td>
						        <td><%= link_to 'Delete', member_path(member), method: :delete, data: { confirm: 'Are you sure?' } %></td>
						      </tr>
							<% end %>
						</tbody>
					</table>
  				</div>
  			</div>
		  </div>
		</div>
    </div>
	<%= render 'footer' %>
  </body>
</html>