<!DOCTYPE html>
<html>
<head>
  <title>Room App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <!-- Logo -->
        <div class="logo">
          <h1><a href="/members">Room App</a></h1>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-lg-12">
            <div class="input-group form">
              <input type="text" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
               <button class="btn btn-primary" type="button">Search</button>
             </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-content">
  <div class="row">
    <%= render 'member_menu' %>
    <div class="col-md-10">
      <div>
        <h3>
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: name %>
          <% end -%>
        </h3>
      </div>
      <h3>Current Schedule Table is based on:</h3>
      <h6><br></h6>
      <h3> <%= " Date => #{@date.to_date}, Building => #{@building}, Size => #{@size}" %> </h3>
      <br>
      <!-- Page Features -->
      <div class="row text-center">
        <%= bootstrap_form_tag method: 'get', url: '/schedules' do |f| %>
            <div class="col-md-2">
              <%= f.date_field :date, value: Time.new.strftime("%F") %>
            </div>
            <div class="col-md-2">
              <%= f.select :building, [["All", "all"],["D.H.Hill Library", 0], ["James B.Hunt Jr.Library", 1]] %>
            </div>
            <div class="col-md-2">
              <%= f.select :size, [["All", "all"],["Small(4 chairs)", 0], ["Medium(6 chairs)", 1], ["Large(12 chairs)", 2]], {label: "Room Size"} %>
            </div>
            <div class="col-md-2">
              <%= f.text_field :room_number %>
            </div>
            <div class="col-md-4">
              <%= f.submit "Search", class: "btn btn-success btn-lg"%>
            </div>
        <% end %>
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Room number</th>
              <th>8:00-9:00</th>
              <th>9:00-10:00</th>
              <th>10:00-11:00</th>
              <th>11:00-12:00</th>
              <th>12:00-13:00</th>
              <th>13:00-14:00</th>
              <th>14:00-15:00</th>
              <th>15:00-16:00</th>
              <th>16:00-17:00</th>
              <th>17:00-18:00</th>
              <th>18:00-19:00</th>
              <th>19:00-20:00</th>
              <th>20:00-21:00</th>
              <th>21:00-22:00</th>
            </tr>
          </thead>

          <tbody>
            <% @table_schedules.each do |room_number, schedules| %>
              <tr>
                <th scope="row"><%= link_to "#{room_number}", "/schedules/show_room?room_number=#{room_number}" %></th>

                <% 14.times do |i| %>
                    <% if schedules[i] != 1 && ((schedules[i+1] != 1 && i<13) || (schedules[i-1] != 1 && i > 0)) %>
                      <td><a href="schedules/new?member_id=<%= @member.id%>&room_number=<%= room_number %>&start_at=<%= @date.beginning_of_day + (i+8).hours %>&end_at=<%= @date.beginning_of_day + (i+10).hours %>"><i class="glyphicon glyphicon-ok-sign"></i> </a></td>
                    <% else %>
                      <td><i class="glyphicon glyphicon-remove-sign"></i></td>
                    <% end %>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>

      <!-- /.row -->

      <hr>

    </div>
  </div>
</div>

<footer class="navbar-fixed-bottom">
  <div class="container">
    <div class="copy text-center">
      Library Reservation System
    </div>
  </div>
</footer>

</body>
</html>