<%= form_for @room do |f| %>
    <% if @room.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@room.errors.count, "error") %> prohibited
            this room from being saved:</h2>
          <ul>
            <% @room.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :number %><br>
      <%= f.text_field :number %>
    </p>

    <p>
      <%= f.label :size %><br>
      <%= f.text_area :size %>
    </p>

    <p>
      <%= f.label :building %><br>
      <%= f.text_area :building %>
    </p>

    <p>
      <%= f.label :admin %><br>
      <%= f.text_area :admin %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>