<!DOCTYPE html>
<html>
  <head>
    <title>Room App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<%= render 'navbar' %>

    <div class="page-content">
    	<div class="row">
		 <%= render 'menu' %>
		  <div class="col-md-10">

  			<div class="content-box-large">
  				<div class="panel-heading">
					<div class="panel-title">Members table</div>
					<div class="panel-options">
						<a class="btn btn-primary btn-sm" href="<%= new_room_path %>" role="button">Create new room</a>
					</div>
				</div>
  				<div class="panel-body">
  					<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
						<thead>
							<tr>
								<th>Number</th>
							    <th>Size</th>
							    <th>Building</th>
							    <th>Status</th>
							    <th>Admin</th>
							    <th colspan="2"></th>
							</tr>
						</thead>
						<tbody>
							<% @rooms.each do |room| %>
								<tr>
									<td><%= room.number %></td>
									<td><%= room.size %></td>
									<td><% if room.building == 0 %> D.H.Hill <% else %> James.B.Hunt <% end %></td>
									<td><% if room.status == 0 %> Default <% else %> Deleted <% end %></td>
									<td><%= link_to 'Show', room_path(room) %></td>
									<td><%= link_to 'Edit', edit_room_path(room) %></td>
									<td><%= link_to 'Delete', room_path(room), method: :delete, data: { confirm: 'Are you sure?' } %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
  				</div>
  			</div>
		  </div>
		</div>
    </div>

    <footer>
         <div class="container">
         
            <div class="copy text-center">
               Copyright 2014 <a href='#'>Website</a>
            </div>
            
         </div>
      </footer>
  </body>
</html>